<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alexandros">

    <!-- Include the robots -->
    <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
    <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro"/>
    <!-- TODO: Add Realsense Camer -->

    <!-- Initialize Panda -->
    <xacro:arg name="arm_id" default="panda" />
    <xacro:arg name="hand" default="true" />
    <xacro:franka_robot arm_id="$(arg arm_id)"
                        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}">
    </xacro:franka_robot>

    <!-- Initialize the Joint between Ridgeback and Panda -->
    <joint name="panda_joint" type="fixed">
        <origin xyz="0 0 0.3" rpy="0 0 0"/> 
        <parent link="base_link"/>
        <child link="panda_link0"/>         
    </joint>

</robot>